@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&family=Poppins:wght@500&display=swap');


body{
    font-family: 'Lora', serif;
font-family: 'Poppins', sans-serif;
}

.card-hot{
  
  background-clip: border-box;
  border: 1px solid rgb(246, 246, 246);
  border-radius: 50px;
  box-shadow: 10px  20px 20px rgb(219, 220, 223);
}

.convention-radius {
  border-radius: 100px;
  background-color: #2a6bce;
}
.footer_bg{
    background-color: #0B0D17
  ;
  }
.footer p{
    font-size: 0.7rem;
  }

  .footer h6{
    font-size: 0.8rem;
  }
  
 

  .footer img{
    width: 40%;
  }

  .map-container-3{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
    }
    .map-container-3 iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
    }

  